/* ex css */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cdcdcd;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.main-title {
  font-size: 56px;
  font-weight: 100;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.description {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  padding: 20px;
  margin: 0;
  background-color: azure;
}
